.hero-logo__scroll {
  @include rem(font-size, 8);
  position: absolute;
  z-index: 10;
  display: none;
  font-weight: 400;
  letter-spacing: 2px;
  bottom: 2.5%;
  left: 50%;
  cursor: pointer;
  text-transform: uppercase;
  transform: translateX(-50%);
  color: $white;
  border: 0;
  background: none;

  @media (min-width: $desktop) {
    display: block;
  }
}