.cast {
  position: relative;
  z-index: 1;
  padding: 100px 0 50px;
  background: $black-pearl;

  &::before {
    position: absolute;
    z-index: -2;
    top: -70px;
    left: 50%;
    width: 1px;
    height: 50%;
    background: rgba($white, 0.15);
    transform: translateX(-50%);
    content: "";
  }

  &::after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: calc(50% + 1px);
    height: 100%;
    content: "";
    background: rgba($aubergine, 0.8);
  }
}

.cast__image {
  @include cover;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  padding-left: 50%;
  opacity: 0.3;
  filter: grayscale(100%);
}

.cast__container {
  @include container;
  position: relative;
  padding: 80px 0;

  .swiper-container {
    padding: 0 60px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: calc(50% - 20px);
    display: none;
    padding: 0;
    background: none;
    border: 0;
    width: 60px;
    height: 60px;
    outline: 0;
  }

  @media (min-width: $mobile) {
    padding: 60px 160px;

    .swiper-container {
      padding: 0;
    }
  
    .swiper-button-prev {
      display: block;
      left: 60px;
    }

    .swiper-button-next {
      display: block;
      right: 60px;
    }

    .swiper-slide {
      .pod {
        transition: all 0.3s;
        transform: scale(0);
        opacity: 0;
      }
    }
  
    .swiper-slide-visible {
      .pod {
        transition: all 0.8s;
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}