.synopsis {
  @include cover;
  position: relative;
  z-index: 1;
  padding: 120px 0 50px;
  background-color: $black-pearl;

  &::before {
    position: absolute;
    z-index: -1;
    top: -40px;
    left: 50%;
    width: 1px;
    height: 50%;
    background: rgba($white, 0.15);
    transform: translateX(-50%);
    content: "";
  }

  &::after {
    @include absolute;
    z-index: -2;
    background: rgba($black-pearl, 0.75);
    content: "";
  }
}

.synopsis__container {
  @include container;
  position: relative;

  @media (min-width: $tablet) {
    padding: 0 40px;
  }
}

.synopsis__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 75px;

  @media (min-width: $tablet) {
    margin-top: 0;
  }
}

.synopsis__info {
  @include rem(font-size, 13);
  min-width: 300px;
  padding: 0 20px;
  color: rgba($white, 0.7);
  flex-basis: 100%;

  @media (min-width: $desktop) {
    flex-basis: 30%;
  }

  img {
    display: block;
    width: 132px;
    margin: 20px auto 40px;
  }

  dl {
    @include clearfix;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  dt,
  dd {
    float: left;
    width: 50%;
    margin: 0;
    padding: 0 0 15px;
  }

  dt {
    text-align: right;

    &::after {
      content: ":";
    }
  }

  dd {
    padding-left: 10px;
  }

  p {
    line-height: 1.6;
  }

  @media (min-width: $desktop) {
    img {
      margin-bottom: 80px;
    }
  }

  @media (min-width: $desktop) {
    img {
      margin: 0 auto 120px;
    }
  }
}

.synopsis__info--image {
  align-self: stretch;
  min-width: 200px;
}

.synopsis__logo {
  max-width: 320px;
  padding: 40px 20px 20px;
  flex-basis: 100%;
  order: -1;

  @media (min-width: $desktop) {
    max-width: 520px;
    flex-basis: 40%;
    order: 0;
  }
}

.synopsis-logo {
  background: $black-pearl;
  border-radius: 50%;

  .ellipse-image__image {
    width: 55%;
  }
}
